In [ ]:
import request_cat as rc
import database as db
import pandas as pd
from datetime import datetime
import re
import pickle

In [ ]:
db.query_to_dataframe('SELECT * FROM pages LIMIT 5;')

In [3]:
db.query_to_dataframe("SELECT COUNT(*) FROM pages;")

db.query_to_dataframe("SELECT COUNT(*) FROM categories;")

db.query_to_dataframe("SELECT COUNT(*) FROM subcategories;")

db.query_to_dataframe("SELECT COUNT(*) FROM page_category;")

   count
0   2429

In [ ]:
#db.query_to_dataframe( "SELECT 'Total Number of Articles' AS pageid, ' ' AS title, 'NA' AS article FROM pages;")
db.query_to_dataframe("SELECT 'Total Number of Articles' AS pid, (SELECT COUNT(pageid) FROM pages) AS tit, ' ' AS art FROM pages LIMIT 1;")

In [ ]:
#print( db.query_to_dataframe('SELECT  FROM pages;') #COUNT(*)
db.query_to_dataframe("(SELECT pageid AS pid, title AS tit, article AS art FROM pages) UNION (SELECT 'Total Number of Articles' AS pid, (SELECT COUNT(pageid) FROM pages) AS tit, ' ' AS art FROM pages LIMIT 1);") #COUNT(*)

In [ ]:
db.query_to_dataframe('SELECT * FROM pages LIMIT 1;') #COUNT(*)

In [ ]:
db.query_to_dataframe('SELECT * FROM subcategories;') # COUNT(*)

In [ ]:
db.query_to_dataframe('SELECT subcategory, COUNT( subcategory) FROM subcategories GROUP BY subcategory;') # COUNT(*)

In [ ]:
db.query_to_dataframe('SELECT COUNT(*) FROM page_category;')

In [ ]:
db.query_to_dataframe('SELECT * FROM page_category;')

In [ ]:
'''SELECT stuff.category, stuff.subcategory, pc.pageid 
    FROM (SELECT category, subcategory, subcategory_id 
           FROM subcategories sc 
           JOIN categories c 
           ON sc.category_id = c.category_id ) as stuff 
    JOIN page_category pc 
    ON stuff.subcategory_id = pc.subcategory_id'''

## WHERE category IN ('machine learning', 'business software')

In [ ]:
import re

In [ ]:


inner_query = re.sub( '\s+',' ', inner_query)

In [ ]:
## Query on all


inner_query = '''SELECT stuff.category, stuff.subcategory, pc.pageid 
    FROM (SELECT category, subcategory, subcategory_id 
           FROM subcategories sc 
           JOIN categories c 
           ON sc.category_id = c.category_id ) as stuff 
    JOIN page_category pc 
    ON stuff.subcategory_id = pc.subcategory_id'''

query = '''SELECT crap.category, crap.subcategory, crap.pageid, p.title, p.article  
           FROM ({}) as crap
           JOIN pages p
           ON crap.pageid = p.pageid;'''.format( inner_query)
query = re.sub( '\s+',' ', query)
query

In [ ]:
all_df = db.query_to_dataframe( query)
all_df.head()

## Create Dataframe for

In [ ]:
db.query_to_dataframe("""SELECT DISTINCT category FROM categories;""")

In [ ]:
category = 'Artificial neural networks'

query = """SELECT crap.category, crap.subcategory, COUNT( DISTINCT p.title)
           FROM ({}) as crap
           JOIN pages p
           ON crap.pageid = p.pageid
           WHERE crap.category = '{}'
           GROUP BY crap.category, crap.subcategory;""".format( inner_query, category)  # , crap.pageid  
query = re.sub( '\s+',' ', query)
ml_df = db.query_to_dataframe( query)
ml_df#[['category', 'subcategory', 'count']]