In [ ]:
!ls

In [1]:
from datetime import datetime

In [2]:

start=datetime.now()

#Statements

#print datetime.now()-start

In [3]:


cat = 'machine learning'

In [7]:
timeduration = datetime.now()-start
print('Article colletion for Category: {} took a total of {} minutes.'.format( cat, timeduration ) )

Article colletion for Category: machine learning took a total of 0:02:44.964646 minutes.

In [8]:
!pip install --quiet psycopg2

In [9]:
!pip install --quiet wikipedia

In [10]:
import download as d
import database as db
import re

## Request Category and Collect articles, then Build database

In [12]:
d.download( ['machine learning', 'business software'], depth = 1)

Collecting Wikipedia pages for Category: (['machine learning', 'business software'],)
	Collecting nested categories (depth = 1)
	Gathering associated pageids
Updating pages table: Collecting text for 1304 articles
Updating categories table
Updating subcategories table
Updating page-category (link) table
Article colletion for Category: machine learning took a total of 0:14:51.158860 minutes.
Collecting Wikipedia pages for Category: (['machine learning', 'business software'],)
	Collecting nested categories (depth = 1)
	Gathering associated pageids
Updating pages table: Collecting text for 4218 articles
Updating categories table
Updating subcategories table
Updating page-category (link) table
Article colletion for Category: business software took a total of 0:47:25.625577 minutes.

### Instead of saving articles to dataframe then putting into database, only grab subcategories, page ids, and then directly put article in database

In [ ]:
## Done 
d.download( 'machine learning', 1)

In [ ]:
d.download( 'business software', 1)

Collecting Wikipedia pages for Category: business software
	Collecting nested categories (depth = 1)
	Gathering associated pageids
	Grabbing text for each pageid, applying cleaner to article and title

In [2]:
print("\tHelp is on the way")

	Help is on the way

## Build database from pickle files

In [ ]:
d.download( 'machine learning', 1, pickle = 'ml_cleaned.p')

In [ ]:
d.download( 'business software', 1, pickle = 'bs_cleaned.p')

## Query Database

In [13]:
inner = db.category_query( ('machine learning', 'business software') )
inner

"SELECT stuff.category, stuff.subcategory, pc.pageid FROM (SELECT category, subcategory, subcategory_id FROM subcategories sc JOIN categories c ON sc.category_id = c.category_id WHERE category IN ('machine learning', 'business software') ) as stuff JOIN page_category pc ON stuff.subcategory_id = pc.subcategory_id"

In [26]:
query = """SELECT category, COUNT( DISTINCT subcategory) AS n_categories, COUNT( DISTINCT p.title) AS n_articles
           FROM ({}) as crap 
           JOIN pages p 
           ON crap.pageid = p.pageid
           GROUP BY category;""".format(inner)
query = re.sub("\s+", " ", query)
query

"SELECT category, COUNT( DISTINCT subcategory) AS n_categories, COUNT( DISTINCT p.title) AS n_articles FROM (SELECT stuff.category, stuff.subcategory, pc.pageid FROM (SELECT category, subcategory, subcategory_id FROM subcategories sc JOIN categories c ON sc.category_id = c.category_id WHERE category IN ('machine learning', 'business software') ) as stuff JOIN page_category pc ON stuff.subcategory_id = pc.subcategory_id) as crap JOIN pages p ON crap.pageid = p.pageid GROUP BY category;"

In [27]:
db.query_to_dataframe(query)

            category  n_articles  n_categories
0  business software        3274           129
1   machine learning        1091            48

In [ ]:
db.query_to_dataframe(query)

In [ ]:
# 'business software' 4758
# 'machine learning' 1091

In [20]:
query = """SELECT category, COUNT( DISTINCT subcategory)
           FROM ({}) as crap 
           JOIN pages p 
           ON crap.pageid = p.pageid
           GROUP BY category;""".format(inner)
query = re.sub("\s+", " ", query)
query

#, COUNT( DISTINCT p.title)

"SELECT category, COUNT( DISTINCT subcategory) FROM (SELECT stuff.category, stuff.subcategory, pc.pageid FROM (SELECT category, subcategory, subcategory_id FROM subcategories sc JOIN categories c ON sc.category_id = c.category_id WHERE category IN ('machine learning', 'business software') ) as stuff JOIN page_category pc ON stuff.subcategory_id = pc.subcategory_id) as crap JOIN pages p ON crap.pageid = p.pageid GROUP BY category;"

In [21]:
db.query_to_dataframe( query)

            category  count
0  business software    129
1   machine learning     48

In [ ]:
db.query_to_dataframe( "SELECT title, article FROM pages LIMIT 5;")

In [28]:
def print_cats( *categories, pickle = False):
    for cat in list(*categories):
        print( cat)

In [29]:
print_cats( ['machine learning', 'business software'])

machine learning
business software