In [ ]:
## Pickle file:  

##category_pages_df does not contain raw text

In [20]:
import database as db
import request_category as rc
from download import download
from datetime import datetime
import re
import pandas as pd
import numpy as np
import pickle

In [ ]:
df_tup = rc.fill_unique_pages('business software', grab = True)

Gathering page information from Category: business software, pages from nested sub-categories (+3 levels) will be included as a union for each category.
	Total categories after recursive search: 314
	Requesting 5938 unique articles - ETA: 65.44 minutes

In [25]:
category_pages_df, unique_pages_df = df_tup

In [26]:
category_pages_df.shape, unique_pages_df.shape

((31096, 4), (5938, 5))

In [34]:
unique_pages_df.head()

,category,pageid,subcategory,title,article
0,business software,1037763,business software,Business software,business software business application softwar...
1,business software,41270069,business software,AccuSystems,accusystems llc american company headquartered...
2,business software,5211212,business software,Active policy management,active policy management business oriented ent...
3,business software,28502793,business software,Alexandria (library software),alexandria browser based cross platform librar...
4,business software,44133735,business software,Alteryx,alteryx american computer software company bas...

In [28]:
## Confirm unique_pages_df

category_pages_df.drop_duplicates(subset = ['pageid', 'title']).reset_index( drop = True).shape

(5938, 4)

In [29]:
categories_df = category_pages_df.drop_duplicates( subset = ['category']).reset_index( drop=True).copy()
categories_df.shape

(311, 4)

In [31]:
subcategories_df = category_pages_df.drop_duplicates( subset = ['category', 'subcategory']).reset_index(drop=True).copy()
subcategories_df.shape

(1312, 4)

In [32]:
subcat_page_df = category_pages_df.drop_duplicates( subset = ['subcategory', 'pageid']).reset_index( drop=True).copy()
subcat_page_df.shape

(8199, 4)

In [33]:
n_grabs = unique_pages_df.shape[0]
n_grabs

5938

In [35]:
df_tup = (category_pages_df, unique_pages_df, categories_df, subcategories_df, subcat_page_df)

category = 'business software'

In [36]:
pickle_file = re.sub( ' ', '_', category) + '_dfs.p'
pickle_path = './docker/postgres/data/' + pickle_file
pickle_file, pickle_path

('business_software_dfs.p', './docker/postgres/data/business_software_dfs.p')

In [37]:
## write pickle (binary)
with open( pickle_path, 'wb') as f:
    pickle.dump( df_tup, f)

In [ ]:

#print( unique_pages_df.shape, n_grabs)

estT = round(time_of_one_grab*n_grabs/60, 2)  ## minutes
print('\tRequesting {} unique articles - ETA: {} minutes'.format( n_grabs, estT))
if grab:  ## Grab the text articles and pickle the df_tup for later use
    unique_pages_df.loc[:,'article'] = unique_pages_df.pageid.apply( grab_content, clean = False )  ## Don't clean it yet
    ### NEW FEATURE,  save RAW article to category_pages_df for later use
    get_article = lambda x: unique_pages_df[ unique_pages_df.pageid == x].article.tolist()[0]
    category_pages_df.loc[:, 'article'] = category_pages_df.pageid.apply( get_article)

    unique_pages_df.loc[:,'article'] = unique_pages_df.article.apply( cleaner )  ## Now Clean
    df_tup = (category_pages_df, unique_pages_df, categories_df, subcategories_df, subcat_page_df)

    pickle_file = re.sub( ' ', '_', category) + '_dfs.p'
    pickle_path = './docker/postgres/data/' + pickle_file
    ## write pickle (binary)
    with open( pickle_path, 'wb') as f:
        pickle.dump( df_tup, f)

    print( 'Category DataFrames are pickled at the following location: {}. Raw text is available in\n category_pages_df in the pickle file'.format( pickle_path) )  
    tag = ''

## `Pages` Table

In [17]:
db.query_to_dataframe( 'SELECT COUNT(*) FROM pages;')

   count
0   2429

In [18]:
db.query_to_dataframe( 'SELECT COUNT(*) FROM categories;')

   count
0     63

In [19]:
db.query_to_dataframe( 'SELECT COUNT(*) FROM subcategories;')

   count
0    124

In [8]:
db.query_to_dataframe( 'SELECT COUNT(*) FROM page_category;')

   count
0    889

In [ ]:
db.clear_table( 'pages' )
db.clear_table( 'categories' )
db.clear_table( 'subcategories' )
db.clear_table( 'page_category' )

In [ ]:
download( ['machine learning'], depth = 0)

In [12]:

start = datetime.now()
download( ['business software'], depth = 0)

Gathering page information from Category: business software, pages from nested sub-categories (+0 levels) will be included as a union for each category.
	Total categories after recursive search: 33
	Requesting 1540 unique articles - ETA: 16.97 minutes
		Page collection  took a total of 15.97 minutes
			Updating pages table:
				Collecting text for 1540 articles
			Updating categories table
			Updating subcategories table
			Updating page-category (link) table
			Article colletion took a total of business software minutes.
___________________________________________________________________________

In [14]:
timeduration = round((datetime.now()-start).seconds/60,2) ## minutes

In [15]:
timeduration

36.65